body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    overflow: hidden;
    background-color: deepskyblue;
}

.calculator {
    flex-shrink: 0;

    height: 600px;
    width: 450px;
    margin: auto;
    padding: 50px;
    padding-top: 60px;
    background-color: rgb(170, 170, 170);
    border-radius: 30px;
    border: 5px solid rgb(84, 84, 84);
    box-shadow: 10px 10px 5px black;
    gap: 10px;
}

.display {
    display: flex;
    background-color: rgb(41, 41, 41);
    justify-content: flex-end;
    align-items: center;
    height: 70px;
    border-radius: 15px;
    padding: 10px;
    padding-right: 20px;
}
#display-text {
    text-align: right;
    font-size: 40px;
    color: white;
}

#backspace {
    padding: 0;
    margin: 0;
    margin-left: 5px;
    max-width: 40px;
    max-height: 40px;
    min-width: 40px;
    min-height: 40px;
}

.row {
    flex: 0;
    gap: 10px;
    display: flex;
}

.buttons {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    flex: 0;
    min-width: 105px;
    min-height: 105px;
    min-width: 105px;
    min-height: 105px;
    flex: 1;

    border-width: 5px;
    border-radius: 10px;
    background-color: white;

    font-size: 60px;
}

button:hover {
    background-color: rgb(205, 205, 205);
}

/*individual button styling*/
#clear {
    color: white;
    background-color: rgb(255, 49, 49);
}

#clear:hover {
    background-color: rgb(217, 44, 44);
}